<div class="modal-content" data-podcast-name="{{d.name}}">
  <div class="modal-content-inner">
  <div class="modal-x" onclick="closeModal(this)" data-podcast-name="{{d.name}}">x</div>
  <div class="modal-content-top">
    <div class="modal-content-top-left">
      {% if d.pic == "placeholder.jpg" %}
      <img class="modal-content-top-left-img" src={{ "../static/style/" + d.pic }}/>
      {% endif %}
      {% if d.pic != "placeholder.jpg" %}
      <img class="modal-content-top-left-img" src={{ d.pic }}/>
      {% endif %}
    </div>
    <div class="modal-content-top-right">
      <div class="modal-content-top-right-details">
        <span class="modal-details-name">{{d.name}}</span>
      </div>
      <!-- <div class="modal-content-top-right-details">
        <span class="modal-details-author">{{d.author}}</span>
      </div> -->
      <div class="modal-content-top-right-details">
        <span class="modal-details-episodes">Episodes: {{d.episode_count}}  |  Avg. Duration: {{d.avg_episode_duration}} min</span>
      </div>
      <div class="modal-content-top-right-details">
        <span class="modal-details-ratings">Similarity: {{d.similarity}}%  |  iTunes Rating: {{d.rating}}/5.0</span>
      </div>
      {% if d.link != "None" %}
      <div class="modal-content-top-right-details">
        <span class="modal-details-link">Listen Here: <a href={{d.link}} target="_blank"><span><img class="iTunesLogo" src="../static/style/iTunesLogo.png" alt="link to iTunes podcast"/></span></a></span>
      </div>
      {% endif %}
    </div>
  </div>
  <hr class="modal-content-hr" />
  <div class="modal-content-bottom">
    <div class="modal-details-description">Description: {{d.description}}</div>
    {% if d.genres %}
    <div class="modal-details-genres">
      <div class="modal-details-genres-label">Genres: </div>
      <div class="modal-details-genres-genre-wrapper">
        {% for g in d.genres %}
        <div class="modal-details-genre">{{g}}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="modal-details-similarities">
      <div class="modal-details-similarities-label">Similarity Breakdown: </div>
      <div class="modal-details-similarities-similarity-wrapper">
        {% for s in d.similarities %}
        <div class="modal-details-similarity-wrapper">
          <div class="modal-details-similarity-circle"
          {% if s[1]|int < 30 %} style="border-color: red;" {% endif %}
          {% if s[1]|int < 60 %} style="border-color: orange;" {% endif %}
          {% if s[1]|int < 30 %} style="border-color: green;" {% endif %}
          >
            <div class="modal-details-similarity-circle-text">{{s[1]}}%</div>
          </div>
          <div class="modal-details-similarity-label">{{s[0]}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="modal-details-reviews">
      <div class="modal-details-reviews-label">Reviews: </div>
      <div class="modal-details-reviews-wrapper">
        <div class="modal-details-review-wrapper">
          <div class="modal-details-reviews-score">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="modal-details-reviews-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec aliquam mauris, eu auctor augue. Nunc ac magna a ex porttitor porta a nec dolor. Donec porttitor porttitor nunc, quis accumsan est elementum ut. Ut a elit sapien. Mauris id ante tempus, rhoncus justo nec, vestibulum leo. Vestibulum at enim feugiat, malesuada enim eget, tincidunt urna. Nunc sed lectus orci. Aenean lobortis lectus sed elit fringilla, ac vehicula quam molestie.

            Suspendisse et lacus justo. Vestibulum vitae lorem lectus. Suspendisse et turpis quis eros luctus scelerisque. Fusce vulputate, neque non volutpat vehicula, eros dolor sodales odio, feugiat facilisis diam quam vitae magna. Praesent ut turpis volutpat, suscipit augue nec, varius est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed erat lorem, vestibulum at urna nec, consectetur mattis nulla. In ac justo a orci rhoncus malesuada.
          </div>
        </div>
        <div class="modal-details-review-wrapper">
          <div class="modal-details-reviews-score">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <div class="modal-details-reviews-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nec aliquam mauris, eu auctor augue. Nunc ac magna a ex porttitor porta a nec dolor. Donec porttitor porttitor nunc, quis accumsan est elementum ut. Ut a elit sapien. Mauris id ante tempus, rhoncus justo nec, vestibulum leo. Vestibulum at enim feugiat, malesuada enim eget, tincidunt urna. Nunc sed lectus orci. Aenean lobortis lectus sed elit fringilla, ac vehicula quam molestie.

            Suspendisse et lacus justo. Vestibulum vitae lorem lectus. Suspendisse et turpis quis eros luctus scelerisque. Fusce vulputate, neque non volutpat vehicula, eros dolor sodales odio, feugiat facilisis diam quam vitae magna. Praesent ut turpis volutpat, suscipit augue nec, varius est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed erat lorem, vestibulum at urna nec, consectetur mattis nulla. In ac justo a orci rhoncus malesuada.
          </div>
        </div>
      </div>
    </div>

  </div>
  </div>
</div>
