<div class="modal-content" data-podcast-name="{{d.name}}">
  <div class="modal-content-inner">
  <div class="modal-x" onclick="closeModal(this)" data-podcast-name="{{d.name}}">x</div>
  <div class="modal-content-top">
    <div class="modal-content-top-left">
      {% if d.pic == "placeholder.jpg" %}
      <img class="modal-content-top-left-img" src={{ "../static/style/" + d.pic }}/>
      {% endif %}
      {% if d.pic != "placeholder.jpg" %}
      <img class="modal-content-top-left-img" src={{ d.pic }}/>
      {% endif %}
    </div>
    <div class="modal-content-top-right">
      <div class="modal-content-top-right-details">
        <span class="modal-details-name">{{d.name}}</span>
      </div>
      <!-- <div class="modal-content-top-right-details">
        <span class="modal-details-author">{{d.author}}</span>
      </div> -->
      <div class="modal-content-top-right-details">
        <span class="modal-details-episodes">Episodes: {{d.episode_count}}{% if d.avg_episode_duration != "None" and d.avg_episode_duration|float != 0.0 %}  |  Avg. Duration: {{d.avg_episode_duration}} min{% endif %}</span>
      </div>
      <div class="modal-content-top-right-details">
        <span class="modal-details-ratings">{% if d.similarity %}Similarity: {{d.similarity}}%  |  {% endif %}iTunes Rating: {{d.rating}}/5.0</span>
      </div>
      {% if d.link != "None" %}
      <div class="modal-content-top-right-details">
        <span class="modal-details-link">Listen Here: <a href={{d.link}} target="_blank"><span><img class="iTunesLogo" src="../static/style/iTunesLogo.png" alt="link to iTunes podcast"/></span></a></span>
      </div>
      {% endif %}
    </div>
  </div>
  <hr class="modal-content-hr" />
  <div class="modal-content-bottom">
    <div class="modal-details-description">Description: {{d.description}}</div>
    {% if d.genres %}
    <div class="modal-details-genres">
      <div class="modal-details-genres-label">Genres: </div>
      <div class="modal-details-genres-genre-wrapper">
        {% for g in d.genres %}
        <div class="modal-details-genre"
        {% if g in query_podcast_data[0].genres %} style="background-color: lightgreen;" {% endif %}
        >{{g}}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if d.similarities and d.similarities != [] %}
    <div class="modal-details-similarities">
      <div class="modal-details-similarities-label">Similarity Breakdown: </div>
      <div class="modal-details-similarities-similarity-wrapper">
        {% for s in d.similarities %}
        <div class="modal-details-similarity-wrapper">
          <div class="modal-details-similarity-circle"
          {% if s[1]|int < 30 %} style="border-color: red;" {% endif %}
          {% if s[1]|int < 60 %} style="border-color: orange;" {% endif %}
          {% if s[1]|int < 30 %} style="border-color: green;" {% endif %}
          >
            <div class="modal-details-similarity-circle-text">{{s[1]}}%</div>
          </div>
          <div class="modal-details-similarity-label">{{s[0]}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if d.reviews[0].rev_text or d.reviews[1].rev_text or d.reviews[2].rev_text or d.reviews[3].rev_text or d.reviews[4].rev_text %}
    <div class="modal-details-reviews">
      <div class="modal-details-reviews-label">Reviews: </div>
      <div class="modal-details-reviews-wrapper">
        {% for r in d.reviews %}
        {% if r.rev_rating and r.rev_text %}
        <div class="modal-details-review-wrapper">
          <div class="modal-details-reviews-score">
            <span class="fa fa-star
            {% if r.rev_rating|int >= 1 %} checked {% endif %}"
            ></span>
            <span class="fa fa-star
            {% if r.rev_rating|int >= 2 %} checked {% endif %}"
            ></span>
            <span class="fa fa-star
            {% if r.rev_rating|int >= 3 %} checked {% endif %}"
            ></span>
            <span class="fa fa-star
            {% if r.rev_rating|int >= 4 %} checked {% endif %}"
            ></span>
            <span class="fa fa-star
            {% if r.rev_rating|int >= 5 %} checked {% endif %}"
            ></span>
          </div>
          <div class="modal-details-reviews-text">
            {{r.rev_text}}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="fadeout"></div>
    <button class="btn btn-primary modal-details-reviews-button" onclick="toggleReviews(this)" data-podcast-name="{{d.name}}">Read More</button>
    {% else %}
    <div class="extra-space"></div>
    {% endif %}
  </div>
  </div>
</div>
