<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- connecting html files to css files -->
  <link rel="stylesheet" type="text/css" href="/static/style/all.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/style/bootstrap_core.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/static/style/form_validation.css" media="all" />
  <link href="../static/style/grid.css" rel="stylesheet">

  <title>Home</title>

  <style>
  .main {
    background-color: rgba(0, 0, 0, .4);
    color: white;
  }

  .circleicon {
    position: relative;
    width: 4rem;
    height: 4rem;
    background: white;
    border: solid;
    border-color: green;
    border-radius: 50%;
    right: -5%;
    bottom: 2rem;
  }

  .circleicontext {
    position: relative;
    left: 30%;
    bottom: -30%;
    color: black;
  }

  .result-box {
    color: black;
    background-color: rgba(255, 255, 255, .8);
    border: 1px solid black;
  }

  .result-img {
    width: 12rem;
    height: 12rem;
  }

  .result-details {
    padding-left: 5%;
    color: black;
  }

  .result-details-name {
    font-weight: bold;
  }

  .result-details-author {
    font-style:italic;
    color: gray;
    margin-top: 0rem;
  }


  .result-details-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  </style>
</head>

<body>
  <div class="main">
    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Find the Pea to your Podcast</h2>
        <p class="lead">Please fill out the form below to find a podcast.</p>
      </div>
      <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate="" method="GET">
          <div class="mb-3">
            <label for="address">I Want to Find a Podcast Like</label>
            <input type="text" class="form-control" id="address" placeholder="Myths and Legends" required="" name="podcast_search">
            <div class="invalid-feedback">
              Please enter a podcast name
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="country">Genre</label>
              <select class="custom-select d-block w-100" id="country">
                <option value="">Choose...</option>
                <option>Food</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid genre.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="state">Optimal Episode Duration</label>
              <select class="custom-select d-block w-100" id="state">
                <option value="">Choose...</option>
                <option>25 ~ 50 min</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid duration.
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Search for Podcast</button>
        </form>
    </div>
    {% if data %}
<hr />
    <div class="py-5 text-center">
      <h2>Recommended Podcasts</h2>
      <p class="lead">Here are some podcasts that you might like.</p>
    </div>
    {% for d in data %} 
    <div class="row mb-5">
      <div class="circleicon" 
        {% if d.similarity|int < 30 %} style="border-color: red;" {% endif %}
        {% if d.similarity|int < 60 %} style="border-color: orange;" {% endif %}
        {% if d.similarity|int < 30 %} style="border-color: green;" {% endif %}
      >
        <div class="circleicontext">{{d.similarity}}%</div>
      </div>
      <div class="result-img"><img class="result-img" src={{ "../static/style/" + d.pic }}/></div>
      <div class="col-8 themed-grid-col">
        <div class="row mb-0 result-details">
          <span class="result-details-name"> {{d.name}}</span>
        </div>
        <div class="row mb-1 result-details">
          <span class="result-details-author"> {{d.author}}</span>
        </div>
        <div class="row mb-3 result-details">
          <span class="result-details-description"> {{d.description}}</span>
        </div>
        <div class="row mb-2 result-details">
          <span class="result-details-episode">Episodes: {{d.episode_count}}  |  Avg. Duration: {{d.avg_episode_duration}} min  |  Similarity: {{d.similarity}}%</span>
        </div>
        <div class="row mb-2 result-details">
          <span class="result-details-link">Listen Here: <a href={{d.link}}>{{d.link}}</a></span>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- <footer class="my-5 pt-5 text-muted text-center text-small">
    </footer> -->
    </div>
  </div>
<script type="text/javascript" src="/static/scripts/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="/static/scripts/bootstrap_core.js"></script>
<script type="text/javascript" src="/static/scripts/form-validation.js"></script>
</body>

</html>


<!-- Example template -->
<!-- <html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <span style="color: #EA4335; ">S</span>
                <span style="color: #FBBC05; ">4</span>
                3
                <span style="color: #34A853; ">0</span>
                <span style="color: #EA4335; ">0</span>
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <p>{{d}}</p>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html> -->
